body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightseagreen;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 500px;
    width: 300px;
    border: 2px black solid;
    padding: 15px;
    background-color: grey;
    border-radius: 10px;
    box-sizing: border-box;
}

.display{
    height: 100px;
    width: 270px;
    box-sizing: border-box;
    border: 2px black solid;
    margin:0px 15px 0px 15px;
    border-radius: 5px;
    background-color: lightyellow;
    text-align: end;
    display: flex;
    flex-direction: column;
}

.upper-display,.lower-display{
    border: 1px red solid;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: right;
    align-items: center;
}

.delete-container{
    display: inline-flex;
    justify-content: space-around;
    height: 100px;
    width: 270px;
    margin:0px 15px 0px 15px;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    gap:10px;
}

.delete-container button{
    margin: 15px 0px 15px 0px;
    height: 50px;
    width: 130px;
    border: 2px black solid;
    border-radius: 5px;
}

.key-container{
    display: flex;
    height: 266px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-evenly;
    gap: 10px;
}
.key-container .key,.operator,.dot{
    width: 59px;
    height: 59px;
    border: 2px black solid;
    border-radius: 5px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vh;
    bottom: 0;
    padding: 10px 20px 10px 20px;
    font-size: 11px;
}

img{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin:0px 10px 0px 10px;
    border-radius: 50%;
}
